# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
db.sqite3
.vscode
./frontend/node_module
.env


